<nav>
  <a href="/" class="nav-logo">Hailey DeMark</a>
  <% if (typeof homeNav !== 'undefined' && homeNav) { %>
  <ul class="nav-links">
    <li><a href="#work">Work</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
  <% } else { %>
  <ul class="nav-links">
    <li><a href="/portfolio/traditional-art">Traditional Art</a></li>
    <li><a href="/portfolio/digital-art">Digital Art</a></li>
    <li><a href="/portfolio/uiux-design">UI/UX Design</a></li>
    <li><a href="/portfolio/generative-art">Generative Art</a></li>
  </ul>
  <% } %>
</nav>
